.form-group{
  width: 100%;
  padding: 5%;
  margin-top: 3%;
  
}

.form-control{
  width: 40%;
  padding: 10px;
  box-shadow: 3px 3px 8px #b8e3ea;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

#searchBtn{
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #b8e3ea;
  font-family: 'Lobster Two', cursive;
  width: 10%;
  font-weight: bold;
}

#searchBtn:hover{
  background-color:  #a9bcc6;
  color: #02334a;
}